<header>
    <!-- Navbar -->
    <nav>
      <div class= "nav__main">
      <span>Mapsy</span>
      </div>
    </nav>
  <nav class="nav__wrapper">
    <ul>

      <% if(user) { %>
      <li><span>Logged In As: <%= user.name %>!</span></li>
      <li><a href="/maps/contributions">My Maps</a></li>
      <li><a href="/maps/favorites">My Favorites</a></li>
      <li><a href="/maps/create">Create New Map</a></li>
      <form class="logout" method="POST" action="/logout">
        <button type="submit">Logout</button>
      </form>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
     <% } %>
    </ul>
  </nav>
</header>
