<header>
  <nav>
    <ul class="nav__wrapper">
      <li class="nav__item"><a href="#">WikiMaps</a></li>
      <li class="nav__item"><a href="#">My Maps</a></li>
      <li class="nav__item"><a href="#">My Favorites</a></li>
      <li class="nav__item"><a href="#">Create New Map</a></li>
      <li class="nav__item"><span>Logged In As: Username</span></li>
      <form class="logout" method="POST" action="/logout">
        <button type="submit" class="nav__item">Logout</button>
      </form>
    </ul>
  </nav>
</header>
