<header>
  <nav>
    <a class="navbar-brand" href="/views/maps_index">Mapsy</a>
    <i id="map-icon" class="fa-solid fa-location-dot"></i>
    <ul class="nav_links">
      <% if(user) { %>
      <li><a href="/views/maps_favourites.ejs">My Favorites</a></li>
      <li><a href="/views/maps_create.ejs">My Maps</a></li>
      <li><a href="/views/maps_create.ejs">Create New Map</a></li>
      <li><a class="display-username">Hi <%= user.name %>!</a></li>
      <form class="logout-button" method="POST" action="/logout">
        <button type="submit">Logout</button>
      </form>
      <% } else { %>
      <li><a href="/views/login.ejs">Login</a></li>
      <li><a href="/views/register.ejs">Register</a></li>
      <% } %>
    </ul>
  </nav>
</header>
