<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('partials/_head') %>
    <script src="/scripts/map_edit.js"></script>
    <title>Create Map</title>
  </head>
  <%- include('partials/_header') %>

    <body id="current-mapId-<%=mapId%>" class="current-mapId">
      <div id="map"></div>

      <h3>Search/ Add Points</h3>
      <input id="autocomplete" type="text" size="100" placeholder="Search for a point to add">

        <div id="pin-parameters">
          <h3>Complete details & click <em>Pin It</em> to add marker</h3>
          <hr />

          <label for="description"><b>Description</b></label>
          <input type="text" placeholder="Add Description for your Marker 🙂" id="pin-description" required />

          <label for="image"><b>Image URL</b></label>
          <input type="text" placeholder="Enter Image URL 📸" id="pin-image" required />

          <div class="clearfix">
            <button id="pin-it-button">
              <strong>Pin It</strong>
            </button>
          </div>

        </div>

      <!-- Async script for google maps executes immediately after any DOM elements used in callback. -->
      <script async
      src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.API_KEY%>&libraries=places&callback=initialize">
  </script>
    </body>

</html>
