<!DOCTYPE html>
<html>
  <head>
    <title>Create Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./index.js"></script>
  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzvVzXj2tiy2I8vM1MBQsHkEnGVG1-x0U&callback=initMap">
    </script>
  </body>
</html>
