<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_head') %>
  <script src="/scripts/maps_contributions.js"></script>

  <title>My Maps</title>
</head>
<body>
<%- include('partials/_header') %>

    <main>
      <section class="map-listings"></section>
    </main>

</body>
</html>

