@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&family=Nunito:wght@400&family=Poppins&display=swap");

// color variables
$button-color: #56b391;
$text-color1: 	#FFFFF0;
$text-color2: black;
$primary-color: rgb(139, 128, 240);
$primary-color2: rgb(170, 161, 245);
$bg-color: rgb(166, 192, 240);

// font variables
$logo-font: 'Poppins', sans-serif;

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $primary-color2;
  border-radius: 15px;
  box-sizing: border-box;

}

button {
  background-color: $button-color;
  color: $text-color1;
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: inherit;
  font-family: $logo-font;

}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 25px;
}

.register {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

span.link {
  float: right;
  padding-top: 16px;
}

form {
  border:1px solid;
  border-radius: 20px;
  background-color: $bg-color;
  color: $text-color1;

}
