header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(109, 195, 109);
  font-family: Source-Sans-Pro, Sans-Serif;
  z-index: 1;
  position:fixed;
  top: 0;
  width: 100%;
  height: 6em;
  outline: white solid 2px;
};

.nav__wrapper {
  display: flex;
  flex-direction: unset;
  height: 4em;
}

.nav__item {
  display: flex;
  margin: 1em;
}
