header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #4DB6AC;
  font-family: 'Nunito', Sans-Serif;
  font-size: larger;
  z-index: 1;
  position:fixed;
  top: 0;
  width: 100%;
  height: 6em;
  padding: 3.5em;
};

.nav__wrapper {
  display: flex;
  flex-direction: unset;
  height: 4em;
}

<<<<<<< 10f9d39314554a8dea529f919497dd4a2517bb3b:styles/_nav.scss
.nav__item {
  display: flex;
  margin: 1em;
=======
.navbar-brand {
  font-size: larger;
  background-color: #4DB6AC;
  font: 100%;
>>>>>>> Change nav color, add test map icon:styles/nav.scss
}

#map-icon {
display: flex;
font-size: larger;
color: white;

}
