@import "forms";
@import "nav";
@import "layout";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&family=Poppins:wght@400&family=Poppins&display=swap");

// color variables
$button-color: #35c590;
$text-color1: 	#FFFFF0;
$text-color2: black;
$bg-color: rgb(85, 179, 216);

// font variables
$logo-font: "Poppins", sans-serif;

body {
  display: flex;
  flex-direction: column;
  font-family: $logo-font;
}

#map {
  height: 400px;
  width: 100%;
}

.favorite-button, .delete-button {
  background-color: rgb(235, 102, 157);
  font-family: $logo-font;
  margin: 10px;
}

.map-listings {
  display: flex;
  flex-direction: column;

  .map-listing {
    display: inherit;
    border-radius: 25px;
    margin: 15px;


  }

  .map-listing__details {
    font-size: larger;
    li {
      padding-top: 10px;
    }
    h3 {
      text-align: center;
    }
  }

  .map-listing__preview-image {
    img {
      max-width: 500px;
      height: auto;
      border-radius: 25px;
    }
  }

  .map-listing__footer {
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    text-align: center;
    margin: auto;
  }
}


#points-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#point-img {
  margin-top: 1em;
  border-radius: 1em;
  width: 650px;
  height: 400px;
}

.point-delete-button {
  margin: 1em;
  margin-top: -0.5em;
  background-color: rgb(235, 102, 157);
}
