@import "forms";
@import "nav";
@import "layout";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&family=Poppins:wght@400&family=Poppins&display=swap");

// color variables
$button-color: #56b391;
$text-color1: #fffff0;
$text-color2: black;
$primary-color: rgb(139, 128, 240);
$primary-color2: rgb(170, 161, 245);
$bg-color: rgb(166, 192, 240);

// font variables
$logo-font: "Poppins", sans-serif;

body {
  display: flex;
  flex-direction: column;
  font-family: $logo-font;
}
