@import "forms";
@import "nav";
@import "layout";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&family=Poppins:wght@400&family=Poppins&display=swap");

// color variables
$button-color: #35c590;
$text-color1: 	#FFFFF0;
$text-color2: black;
$bg-color: rgb(85, 179, 216);

// font variables
$logo-font: "Poppins", sans-serif;

body {
  display: flex;
  flex-direction: column;
  font-family: $logo-font;
}

#map {
  height: 400px;
  width: 100%;
}

.favorite-button {
  background-color: rgb(235, 102, 157);
  font-family: $logo-font;
}

.map-listings {
  display: flex;
  flex-direction: column;

  .map-listing {
    display: inherit;
  }

  .map-listing__details {
    font-size: larger;
    h3 {
      text-align: center;
    }
  }

  .map-listing__preview-image {
    img {
      max-width: 60%;
      height: auto;
    }
  }

  .map-listing__footer {
    font-size: small;
    text-align: center;
  }
}
